#
# The Percona Server 8.0 configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
#innodb_force_recovery=3
#innodb_purge_threads=0

disable-log-bin
innodb_io_capacity_max=8000
innodb_io_capacity=3000
default-storage-engine=InnoDB
wait_timeout=120
connect_timeout=100

max_prepared_stmt_count=4194304
max-connections=10000
wait_timeout=120
table_open_cache=8000

innodb_doublewrite=ON
innodb_flush_method=O_DIRECT
innodb_buffer_pool_size=320G
innodb_buffer_pool_instances=16
innodb_write_io_threads=32
innodb_page_size=16384
innodb_page_cleaners=8
innodb_max_dirty_pages_pct=90
innodb_max_dirty_pages_pct_lwm=0
innodb_flush_neighbors=0
innodb_open_files=300
innodb_log_file_size=128G
innodb_adaptive_flushing_lwm=30
innodb_monitor_enable=ALL
innodb_flush_log_at_trx_commit=2
innodb_log_compressed_pages=0
