[mysqld]
# connections
ssl=0
connect_timeout=120
back_log=4K
max_connections=4K
max_prepared_stmt_count=4M

# general
#default-tmp-storage-engine=MyISAM
table_open_cache=256K
table_open_cache_instances=64

# InnoDB
innodb_flush_method=O_DIRECT
innodb_adaptive_hash_index=OFF
innodb_io_capacity=2000
innodb_io_capacity_max=4000

innodb_open_files=4K
#innodb_page_cleaners=8
innodb_write_io_threads=8
innodb_buffer_pool_instances=16
innodb_redo_log_capacity=8G
innodb-buffer-pool-size=32G

log-replica-updates=0
gtid-mode=ON
enforce-gtid-consistency=ON
